{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% bootstrap_css %}
</head>

<body>

<div class="container">
    <div class="col-sm-12">
        <h1>Post Form</h1>

        <form action="" method="POST" novalidate autocomplete="off">
            {% csrf_token %}
        
            {% bootstrap_form form %}
        
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            {% endbuttons %}
        </form>
        
        {% bootstrap_javascript jquery='full' %}
        
        <script type="text/javascript">
        var dom = document.getElementById('{{ form.user.agent.id_for_label }}').value
        // 백엔드단에서 userAgent 아이디에 접근
        dom.value = navigator.userAgent;
        </script>
    </div>
</div>
    
</body>
</html>