<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message.tags }} : {{ message.message }}<br/>
        </div>
    {% endfor %}
{% endif %}

<table>
    {% for post in post_list %}
    <tr>
        <td>{{ post.pk }}</td>
        <td>
            <a href="{% url 'post_detail' post.pk %}">
                {{ post.title }}
            </a>
        </td>
        <td>{{ post.created_at }}</td>
        <td>
            <a href="{% url 'post_edit' post.pk %}">수정</a>
        </td>
    </tr>
    {% endfor %}


</table>


